.FrequentlyQandAContainer {
  width: 100%;
}
.FrequentlyQandAContainer2 {
  /* margin: 3rem; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.FreqContainerContain {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.FreqQandA {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid gray;
  padding: 20px;
  position: relative; /* for easy positioning of elements */
  cursor: pointer;
  width: 150px;
  min-width: 150px;
  height: 200px;
  border-radius: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.FreqQandA p {
  font-size: 0.9rem;
}
.FreqQandA h2 {
  font-size: 1rem;
  font-weight: 500;
}

/* Initially hide the answer */
.answerText {
  display: none;
}

/* Show image and question text by default */
.questionImage,
.questionText {
  display: block;
}

/* On hover, show answer and hide image/question */
.FreqQandA:hover .questionImage,
.FreqQandA:hover .questionText {
  display: none;
}

.FreqQandA:hover .answerText {
  display: block;
}
.answerText {
  color: #fff;
}

.FreqContainerContain21 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.FreqQandA img {
  width: 30px;
}

/* Apply unique colors and rotation for each item */
.FreqContainerContain21 .FreqQandA:nth-child(1):hover {
  background-color: #9160ef;
  transform: rotate(10deg);
  border: 0;
}

.FreqContainerContain21 .FreqQandA:nth-child(2):hover {
  background-color: #ffac06;
  transform: rotate(-10deg);
  border: 0;
}

.FreqContainerContain21 .FreqQandA:nth-child(3):hover {
  background-color: #49ab4f;
  transform: rotate(10deg);
  border: 0;
}

.FreqContainerContain21 .FreqQandA:nth-child(4):hover {
  background-color: #f16643;
  transform: rotate(-10deg);
  border: 0;
}

.FreqContainerContain21 .FreqQandA:nth-child(5):hover {
  background-color: #4da2f1;
  transform: rotate(10deg);
  border: 0;
}
.FrequentlyQandAContainerText p {
  text-align: center;
  font-size: 3rem;
}
.grabOnlyTextlinepscrol {
  display: none;
}

@media only screen and (max-width: 910px) {
  .FrequentlyQandAContainerText11 {
    overflow: auto; /* Enable scrolling */
    -ms-overflow-style: none; /* Hide scrollbar on Internet Explorer and Edge */
    scrollbar-width: none; /* Hide scrollbar on Firefox */
  }

  .FrequentlyQandAContainerText11::-webkit-scrollbar {
    display: none; /* Hides scrollbar */
  }
  .FrequentlyQandAContainerText11 {
    overflow: scroll;
    display: flex;
    margin-left: 10px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .grabOnlyTextlinepscrol {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
