/* MissionSlider.module.css */

.sliderContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6b3b;
  transition: background-color 0.8s ease-in-out;
}
.sliderContainer2 {
  position: relative;
}
.navBar {
  position: absolute; /* Make NavBar absolute */
  top: 0; /* Position it at the top */
  left: 0;
  right: 0; /* Stretch it across the full width */
  z-index: 10; /* Ensure it is above other elements */
}

.slidesWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.staticContent {
  position: relative;
  z-index: 1;
  width: 45%;
  top: 40%;  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.number {
  font-size: 8rem;
  position: absolute;
  top: -3%;
  left: 0%;
  color: white;
  font-family: areanormal;
}

.number2 {
  font-size: 10rem;
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 10%;
}

.numberP {
  font-size: 8rem;
  position: absolute;
  top: -14%;
  left: 0%;
  color: white;
  font-family: areanormal;
}

.numberP2 {
  font-size: 10rem;
  position: absolute;
  bottom: 10%;
  right: 0%;
  width: 10%;
}

.image {
  width: 100%;
  height: 200px;
  max-width: 300px;
  border-radius: 15px;
  margin: 20px auto;
  opacity: 0.7;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.image--slide-up {
  transform: translateY(-100%); /* Slide up */
  opacity: 0; /* Fade out */
}

.textContainer {
  /*margin-top: 25%;*/
}

.subtitle {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  text-align: start;
}

/* Background Text Animation */
.backgroundTextWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
}

.backgroundText {
  font-size: 30rem;
  overflow: hidden;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  white-space: nowrap;
}

.backgroundTexttext2 {
  font-size: 22rem;
  overflow: hidden;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  white-space: nowrap;
}

.backgroundText--enter {
  transform: translateX(100%);
  opacity: 0;
}

.backgroundText--enter-active {
  transform: translateX(0);
  opacity: 1;
}

.backgroundText--exit {
  transform: translateX(0);
  opacity: 1;
}

.backgroundText--exit-active {
  transform: translateX(-100%);
  opacity: 0;
}

.backgroundTexttext2--enter {
  transform: translateX(100%);
  opacity: 0;
}

.backgroundTexttext2--enter-active {
  transform: translateX(0);
  opacity: 1;
}

.backgroundTexttext2--exit {
  transform: translateX(0);
  opacity: 1;
}

.backgroundTexttext2--exit-active {
  transform: translateX(-100%);
  opacity: 0;
}

/* Navigation Buttons */
.navButton,
.navButton2 {
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  font-size: 2rem;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 2;
  background: transparent;
  margin-bottom: 10px;
}
.arrow2 {
}
.navButton:first-of-type {
  left: 10px;
}

.navButton:last-of-type {
  right: 10px;
}
.navButton2:first-of-type {
  left: 10px;
}

.navButton2:last-of-type {
  right: 10px;
}
.textContainerh33 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}
.navButton2 img {
  width: 50px;
}
.line {
  width: 15%;
  height: 4px;
  background-color: #ffffff;
  margin-bottom: -8px;
  border-radius: 2px;
}

.subtitle {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.navButton2 {
  display: none;
}
.navButton3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.arrow222 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.arrow222 p {
  margin: 0;
  font-family: areanormalblod;
  font-size: 1rem;
  color: #fff;
}
.arrow222 p1 {
  margin: 0;
  font-family: areanormal;
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
}

@media only screen and (min-width: 920px) and (max-width: 1120px) {
  .backgroundText {
  font-size: 25rem;
  overflow: hidden;

  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  white-space: nowrap;
}
.backgroundTexttext2 {
  font-size: 16rem;
  overflow: hidden;

  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  white-space: nowrap;
}
.number {
  font-size: 7rem;
  position: absolute;
  top: -3%;
  left: 0%;
  color: white;
  font-family: areanormal;
}

.number2 {
  font-size: 10rem;
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 10%;
}
.numberP {
  font-size: 7rem;
  position: absolute;
  top: -26%;
  left: 0%;
  color: white;
  font-family: areanormal;
}

.numberP2 {
  font-size: 10rem;
  position: absolute;
  bottom: 10%;
  right: 0%;
  width: 10%;
}
}


@media only screen and (min-width: 600px) and (max-width: 920px) {
  .navButton3 {
    display: none;
  }
  .navButton2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .numberP {
    font-size: 6rem;
    position: absolute;
    top: -40%;
    left: 1%;
    color: white;
    font-family: areanormal;
  }
  
  .numberP2 {
    font-size: 10rem;
    position: absolute;
    bottom: 10%;
    right: 0%;
    width: 15%;
  }
  .arrow222 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .arrow222 p {
    margin: 0;
    font-family: areanormalblod;
    font-size: 1rem;
    color: #fff;
  }
  .arrow222 p1 {
    margin: 0;
    font-family: areanormal;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
  }
  .staticContent {
    width: 90%;
  }
  .navButton {
    top: 95%;
  }
  .navButton2 {
    top: 95%;
  }

  .backgroundText
   {
    font-size: 16rem;
  }

  .backgroundTexttext2 {
    font-size: 11rem;
  }
  .image {
    width: 100%;
    max-width: 200px;
    border-radius: 15px;
    margin: 20px auto;
    opacity: 0.7;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .staticContent{
    width: 55%;
    top: 25%;
  }
  .number {
    font-size: 5rem;
    position: absolute;
    top: -3%;
    left: 0%;
    color: white;
    font-family: areanormal;
  }
  
  .number2 {
    font-size: 9rem;
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 10%;
  }
}
@media only screen and (min-width: 493px) and (max-width: 600px) {
  .staticContent{
    width: 75%;
    top: 25%;
  }
  .backgroundText {
    font-size: 12rem !important; /* Ensure it overrides */
    top: 25%;
  }
  .backgroundTexttext2 {
    font-size: 9rem !important;
    top: 25%;
  }
  .navButton3 {
    display: none;
  }
  .navButton2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .arrow222 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .arrow222 p {
    margin: 0;
    font-family: areanormalblod;
    font-size: 1rem;
    color: #fff;
  }
  .arrow222 p1 {
    margin: 0;
    font-family: areanormal;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
  }
  .staticContent {
    width: 85%;
    top: 20%;
  }
  .navButton {
    top: 95%;
  }
  .navButton2 {
    top: 95%;
  }

  .image {
    width: 100%;
    max-width: 200px;
    border-radius: 15px;
    margin: 20px auto;
    opacity: 0.7;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .number {
    font-size: 5rem;
    position: absolute;
    top: -22%;
    left: 0%;
    color: white;
    font-family: areanormal;
  }
  
  .number2 {
    font-size: 8rem;
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 18%;
  }

  .numberP {
    font-size: 5rem;
    position: absolute;
    top: -40%;
    left: 1%;
    color: white;
    font-family: areanormal;
  }
  
  .numberP2 {
    font-size: 10rem;
    position: absolute;
    bottom: 10%;
    right: 0%;
    width: 15%;
  }
}

@media only screen and (min-width: 435px) and (max-width: 492px) {
  .staticContent{
    width: 75%;
    top: 5%;
  }
  .backgroundText {
    font-size: 10rem !important; /* Ensure it overrides */
    top: 25%;
  }
  .backgroundTexttext2 {
    font-size: 7rem !important;
    top: 25%;

  }
  .navButton img {
    width: 60px;
  }
  .navButton3 {
    display: none;
  }
  .navButton2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .arrow222 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .arrow222 p {
    margin: 0;
    font-family: areanormalblod;
    font-size: 1rem;
    color: #fff;
  }
  .arrow222 p1 {
    margin: 0;
    font-family: areanormal;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
  
  }
  .navButton {
    top: 85%;
  }
  .navButton2 {
    top: 85%;
  }
  .backgroundText,
  .backgroundTexttext2 {
    font-size: 4rem;
  }
  .image {
    width: 100%;
    max-width: 200px;
    border-radius: 15px;
    margin: 20px auto;
    opacity: 0.7;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .number {
    font-size: 4rem;
    position: absolute;
    top: -22%;
    left: 0%;
    color: white;
    font-family: areanormal;
  }
  
  .number2 {
    font-size: 8rem;
    position: absolute;
    bottom: 8%;
    right: 5%;
    width: 18%;
  }
  .numberP {
    font-size: 4rem;
    position: absolute;
    top: -40%;
    left: 1%;
    color: white;
    font-family: areanormal;
  }
  
  .numberP2 {
    font-size: 10rem;
    position: absolute;
    bottom: 10%;
    right: 0%;
    width: 15%;
  }
}

@media only screen and (max-width: 434px) {
  .textContainer {
    margin-top: 40px;
  }
  .description {
    font-size: 14px;
  }
  .navButton img {
    width: 60px;
  }
  .navButton3 {
    display: none;
  }
  .navButton2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .arrow222 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .arrow222 p {
    margin: 0;
    font-family: areanormalblod;
    font-size: 1rem;
    color: #fff;
  }
  .arrow222 p1 {
    margin: 0;
    font-family: areanormal;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
  }
  .staticContent{
    width: 75%;
    top: 5%;
  }
  .navButton {
    top: 85%;
  }
  .navButton2 {
    top: 85%;
  }
  .backgroundText {
    font-size: 9rem; /* Ensure it overrides */
    top: 25%;

  }
  .backgroundTexttext2 {
    font-size: 7rem;
    top: 25%;

  }
  .image {
    width: 100%;
    max-width: 200px;
    border-radius: 15px;
    margin: 20px auto;
    opacity: 0.7;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .number {
    font-size: 4rem;
    position: absolute;
    top: -22%;
    left: 0%;
    color: white;
    font-family: areanormal;
  }
  
  .number2 {
    font-size: 8rem;
    position: absolute;
    bottom: 8%;
    right: 5%;
    width: 18%;
  }
  .numberP {
    font-size: 4rem;
    position: absolute;
    top: -40%;
    left: 1%;
    color: white;
    font-family: areanormal;
  }
  
  .numberP2 {
    font-size: 10rem;
    position: absolute;
    bottom: 10%;
    right: 0%;
    width: 15%;
  }
}

@media screen and (max-width: 361px) {
  .navButton {
    top: 85%;
  }
  .navButton2 {
    top: 85%;
  }
  .backgroundText {
    font-size: 9rem; /* Ensure it overrides */
    top: 25%;

  }
  .backgroundTexttext2 {
    font-size: 7rem;
    top: 25%;

  }
  .backgroundText {
    font-size: 9rem; /* Ensure it overrides */
  }
  .backgroundTexttext2 {
    font-size: 6rem;
  }
  .number {
    font-size: 4rem;
    position: absolute;
    top: -22%;
    left: 0%;
    color: white;
    font-family: areanormal;
  }
  
  .number2 {
    font-size: 8rem;
    position: absolute;
    bottom: 8%;
    right: 5%;
    width: 18%;
  }
  .numberP {
    font-size: 4rem;
    position: absolute;
    top: -40%;
    left: 1%;
    color: white;
    font-family: areanormal;
  }
  
  .numberP2 {
    font-size: 10rem;
    position: absolute;
    bottom: 10%;
    right: 0%;
    width: 15%;
  }
  .staticContent{
    top: 5%;
  }
}
