/* WhyChooseUs.module.css */
.whyChooseUsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  font-style: italic;
  margin-bottom: 20px;
}

.whyChooseUs {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding: 20px;
  margin: 3rem;
  gap: 20px;
}
.whyChooseImage {
  position: absolute;
  z-index: -1;
}

.titleContainer {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
}
.titleContainer2 {
  position: relative;
  height: 100%;
  align-items: center;
  display: flex;
}
.titleContainer :nth-child(1) {
  margin: 0;
  padding: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.titleContainer :nth-child(2) {
  margin: 0;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.titleContainer :nth-child(3) {
  margin: 0;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.features {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.feature {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  gap: 20px;
  justify-content: flex-end;
}
.feature .text {
  background-color: #ffd966;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
}
.text2 {
  padding: 50px;
}
.feature img {
  width: 80px;
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  margin-right: 15px;
}
.text h3 {
  font-weight: bold;
  margin: 0 0 5px;
}

.text p {
  margin: 0;
}

.purple,
.orange {
  display: flex;
  position: absolute;
  left: 25%;
}
.green {
  margin-left: 0px;
}
.titleContainer222 {
  display: none;
}
.text span {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

@media only screen and (min-width: 600px) and (max-width: 1069px) {
  .titleContainer2,
  .purple,
  .orange,
  .green {
    display: none !important;
  }
  .titleContainer222 {
    display: block;
  }
  .titleContainer :nth-child(1) {
    border-radius: 0;
  }
  .titleContainer :nth-child(2) {
    border-radius: 0;
  }
  .titleContainer :nth-child(3) {
    border-radius: 0;
  }

  .whyChooseImage1 {
    position: relative;
  }
  .titleContainerrr {
    position: absolute;
    top: 6%;
  }

  .titleContainer2 {
    display: none;
  }
  .titleContainer222 {
    display: block;
    width: fit-content;
  }
  .titleContainer {
    padding: 10px 20px;
    border-radius: 10px;
  }
  .titleContainer h1 {
    color: #fff;
    font-size: 2.7rem;
  }
  .text span {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .titleContainer .whyChooseUsContainer {
    height: auto;
  }

  .titleContainerrr1 {
    width: 10px;
    height: 10px;
    background-color: rgb(207, 15, 15);
    position: absolute;
    border-radius: 100% !important;
  }
  .whyChooseUs {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0;
  }
  .purple,
  .orange {
    display: flex;
    position: relative;
    left: 0%;
  }
  .feature {
    background-color: #ffd966;
  }
  .features {
    gap: 20px;
  }
  .whyChooseImage1 img {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .titleContainer2,
  .purple,
  .orange,
  .green {
    display: none !important;
  }
  .titleContainer222 {
    display: block;
  }
  .titleContainer :nth-child(1) {
    border-radius: 0;
  }
  .titleContainer :nth-child(2) {
    border-radius: 0;
  }
  .titleContainer :nth-child(3) {
    border-radius: 0;
  }

  .whyChooseImage1 {
    position: relative;
  }
  .titleContainerrr {
    position: absolute;
    top: 6%;
  }

  .titleContainer2 {
    display: none;
  }
  .titleContainer222 {
    display: block;
    width: fit-content;
  }
  .titleContainer {
    padding: 10px 20px;
    border-radius: 10px;
  }
  .titleContainer h1 {
    color: #fff;
    font-size: 2.7rem;
  }
  .text span {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .titleContainer .whyChooseUsContainer {
    height: auto;
  }

  .titleContainerrr1 {
    width: 10px;
    height: 10px;
    background-color: rgb(207, 15, 15);
    position: absolute;
    border-radius: 100% !important;
  }
  .whyChooseUs {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0;
  }
  .purple,
  .orange {
    display: flex;
    position: relative;
    left: 0%;
  }
  .feature {
    background-color: #ffd966;
  }
  .features {
    gap: 20px;
  }
  .whyChooseImage1 img {
    width: 100%;
  }
}
@media only screen and (max-width: 471px) {
  .titleContainer h1 {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 415px) {
  .titleContainer h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 394px) {
  .titleContainer h1 {
    font-size: 1.8rem;
  }
}
