.contactcontainer2 button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 0.4px solid #E1DED7;
  background: #F9F7F1;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px;
  color: #4A484D;

}
.contactcontainer2 p{
  margin: 0;
}

.contactcontainer2{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 20px;
}
.contactcontainer{
  width: 100%;
  margin-bottom: 20px;
}
.contactcontainer1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactcontainerh1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactcontainerh1 h1{
  font-size: 4rem;
}

.contactcontainerh1 p{
  font-size: 2rem;
}


@media screen and (max-width:530px) {
  .contactcontainer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contactcontainerh1 h1{
    font-size: 2rem;
  }
  
  .contactcontainerh1 p{
    font-size: 1rem;
  }
  
}