/* NavBar.module.css */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  margin: 0;
}

.logoLink {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.logo {
  margin: 0;
  width: 50%;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 10%;
  justify-content: center;
  margin-left: 200px;
}

.navLinks a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  font-family: Arial, sans-serif;
}

.navLinks a:hover {
  color: #f16643;
}

/* Burger Icon Styles */
.burgerIcon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #000;
}

/* Close Icon for Full-Screen Menu */
.closeIcon {
  font-size: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #000;
  cursor: pointer;
  z-index: 1100;
  display: none;
}

/* Full-Screen Menu for Mobile */
.navLinks.active {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1000;
}

.navLinks li {
  margin: 1.5rem 0;
}

.navLinks a {
  font-size: 1.5rem;
  color: #000;
}
.burgerIcon1 {
  display: none;
}

@media screen and (max-width: 769px) {
  .navLinks a {
    font-size: 1.2rem;
    color: #000;
  }
  .navLinks {
    margin: 0;
  }
}
/* Media Queries for Mobile */
@media (max-width: 768px) {
  .burgerIcon {
    display: block; /* Show burger icon */
  }

  .navLinks {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  .navLinks.active {
    display: flex; /* Show full-screen nav when active */
  }
  .burgerIcon1 {
    display: flex;
    justify-content: flex-end;
  }

  .closeIcon {
    display: block;
  }
  .logo {
    width: 70%;
  }
}
