/* NavBar.module.css */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  margin: 10px;
}
.burgerIconimggg {
  display: none;
}

.logoLink {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.logo {
  margin: 0;
  width: 50%;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 10%;
  justify-content: center;
  margin-left: 200px;
}
@font-face {
  font-family: "areainktrap";
  src: url("../../assets/areainktrap.otf");
}


.navLinks a {
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
  font-family: "areainktrap";
}

.navLinks a:hover {
  color: #f16643;
}

/* Burger Icon Styles */
.burgerIcon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #000;
}

/* Close Icon for Full-Screen Menu */
.closeIcon {
  font-size: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #000;
  cursor: pointer;
  z-index: 1100;
  display: none;
}

/* Full-Screen Menu for Mobile */
.navLinks.active {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #907bdb;
  z-index: 1000;
}

.navLinks li {
  margin: 0.5rem 0;
}

.navLinks a {
  font-size: 1.5rem;
  color: #000;
}
.burgerIcon1 {
  display: none;
}

@media screen and (max-width: 769px) {
  .burgerIcon {
    margin-right: 20px;
  }
  .navLinks a {
    font-size: 1.2rem;
    color: #000;
    font-weight: 600;
  }
  .navLinks {
    margin: 0;
  }
  .burgerIconimggg {
    display: block;
  }
  .burgerIconimggg img {
    width: 60%;
  }

  .navLinks.active {
    height: 45%;
    width: 32%;
    right: 5%;
    top: 10%;
    left: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #dedede, -5px -5px 10px #ffffff;
    background: #fff;
    font-weight: 600;
  }
}
/* Media Queries for Mobile */
@media (max-width: 768px) {
  .burgerIcon {
    margin-right: 20px;
  }
  .burgerIconimggg img {
    width: 60%;
  }
  .burgerIconimggg {
    display: block;
  }
  .burgerIcon {
    display: block; /* Show burger icon */
  }

  .navLinks {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  .navLinks.active {
    display: flex; /* Show full-screen nav when active */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .burgerIcon1 {
    display: flex;
    justify-content: flex-end;
  }

  .closeIcon {
    display: block;
  }
  .logo {
    width: 100%;
  }
  .navLinks.active {
    height: 45%;
    width: 32%;
    right: 5%;
    top: 10%;
    left: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #ebe7e7, -5px -5px 10px #eeebeb;
    background: #fff;
    font-family: "areanormal";
  }
}
