.ConnectInFluencersdiv {
  background-color: #f9f7f1;
  height: 300px;
}
.ConnectInFluencerstext {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.ConnectInFluencerstext p {
  display: flex;
  font-size: 4rem;
  margin: 0;
}
.ConnectInFluencerstext span img {
  width: 40px;
}
@media only screen and (min-width: 600px) and (max-width: 1069px) {
  .ConnectInFluencersdiv {
    background-color: #f9f7f1;
    height: auto;
    padding: 2rem;
  }
  .ConnectInFluencerstext p {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .ConnectInFluencersdiv {
    background-color: #f9f7f1;
    height: auto;
    padding: 2rem;
  }
  .ConnectInFluencerstext p {
    font-size: 2rem;
  }
}
