.container {
  background-color: black;
  color: white;
  height: 35px;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  position: relative; /* To position the scrolling effect */
  margin-top: 6%;
  transform: rotate(3deg);
}

.scroll {
  display: flex; /* Arrange items in a row */
  flex-wrap: nowrap; /* Prevent wrapping to new lines */
  white-space: nowrap; /* Prevent text wrapping */
  animation: scroll 15s linear infinite; /* Smooth horizontal scrolling */
  gap: 20px; /* Add spacing between items */
}

.brand {
  display: inline-flex; /* Keep text and image in a single row */
  align-items: center; /* Center vertically */
  margin: 0; /* Remove extra margin */
  font-family: "Figtree", sans-serif;
  font-size: 1.5rem; /* Adjust size as needed */
  font-weight: bold;
  color: #fff; /* Text color */
  gap: 10px;
}

.brand img {
  margin-left: 8px; /* Add spacing between text and image */
  width: 20px; /* Adjust image size */
  height: 25px; /* Adjust image size */
}
/* Keyframes for scrolling effect */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-15%);
  }
}

@media only screen and (max-width: 600px) {
  .brand {
    font-size: 1rem; /* Smaller text for small screens */
  }
}
