.teamSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 10px;
  overflow: hidden;
}

.circleContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/frame.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Background wave styles */
.topWave {
  position: absolute;
  top: -20%;
  left: 0;
  z-index: 0;
  pointer-events: none;
  width: 50%;
}

.bottomWave {
  position: absolute;
  bottom: -120px;
  width: 60%;
  left: 30%;
  z-index: 0;
  pointer-events: none;
}

/* Center the text within the circle */
.textContainer {
  position: absolute;
  z-index: 1;
}

.headingSecondary {
  font-size: 1.2em;
  color: #999;
  margin: 0;
}

.headingPrimary {
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.teamMember {
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
}

.teamMember img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  transition: border 0.1s ease;
}
.nameContainerHover{
  display: none;
  background-color: #ec5f25;
  border-radius: 10px;
  top: -100px;
  position: relative;
}
.nameContainer1Hover,.nameContainer2Hover{
  color: #fff;
  font-family: areanormal;
  font-weight: 600;
}
.teamMember:hover  img{
  border: 4px solid #d26943;
}
.teamMember:hover .nameContainerHover {
  display: block;


}

/* Position each team member around the circle */
.position1 {
  top: 20%;
  left: 50%;
  transform: translateX(-100%);
}

.position2 {
  top: 25%;
  left: 85%;
  transform: translate(-105%, -50%);
}

.position3 {
  top: 75%;
  left: 85%;
  transform: translate(-100%, -50%);
}

.position4 {
  top: 100%;
  left: 50%;
  transform: translate(0%, -90%);
}

.position5 {
  top: 75%;
  left: 26%;
  transform: translate(0%, -20%);
}

.position6 {
  top: 25%;
  left: 15%;
  transform: translate(-50%, 0%);
}
/* Adjust name container styles for different positions */
.nameContainer {
  display: none; /* Hide by default */
  position: absolute;
  padding: 5px 10px;
  background-color: orange;
  color: white;
  border-radius: 5px;
  z-index: 1;
  width: 120px; /* Set a width for the name container */
}

/* Display name container on hover */
.teamMember:hover .nameContainer {
  display: block; /* Show name container on hover */
  z-index: 1;
}
.teamMember img {
  border-radius: 10px;
}

.position1 .nameContainer {
  top: 75%;
  left: 50%; /* Center horizontally for position 1 */
  transform: translate(-50%, 0); /* Adjust position */
}

.position2 .nameContainer {
  top: 105%;
  left: 59%;
  transform: translate(-50%, -150%); /* Position above */
}

.position3 .nameContainer {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -150%); /* Position above */
}

.position4 .nameContainer {
  top: 0; /* Position below for position 4 */
  left: 50%; /* Center horizontally for position 4 */
  transform: translate(-50%, 0); /* Adjust position */
}

.position5 .nameContainer {
  top: 112%;
  left: 50%;
  transform: translate(-50%, -150%); /* Position above */
}

.position6 .nameContainer {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -150%); /* Position above */
}

@media only screen and (max-width: 1191px) {
  /* Position each team member around the circle */
  .position1 {
    top: 12%;
    left: 50%;
    transform: translateX(-100%);
  }
  .teamMember img {
    width: 50%;
    height: 50%;
  }

  .position2 {
    top: 0%;
    left: 75%;
    transform: translate(-105%, -50%);
    position: relative;
  }

  .position3 {
    top: 32%;
    left: 50%;
    transform: translate(-100%, -50%);
    position: relative;
  }

  .position4 {
    top: 100%;
    left: 40%;
    transform: translate(0%, -90%);
  }

  .position5 {
    top: 80%;
    left: 4%;
    transform: translate(0%, -20%);
  }

  .position6 {
    top: 32%;
    left: 14%;
    transform: translate(-50%, 0%);
  }
  .bottomWave {
    left: 0%;
    top: 64%;
    width: 100%;
  }
  .topWave {
    left: -6%;
    top: -8%;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1190px) {
  /* Position each team member around the circle */
  .position1 {
    top: 12%;
    left: 50%;
    transform: translateX(-100%);
  }
  .teamMember img {
    width: 50%;
    height: 50%;
  }

  .position2 {
    top: 0%;
    left: 65%;
    transform: translate(-105%, -50%);
    position: relative;
  }

  .position3 {
    top: 32%;
    left: 50%;
    transform: translate(-100%, -50%);
    position: relative;
  }

  .position4 {
    top: 100%;
    left: 40%;
    transform: translate(0%, -90%);
  }

  .position5 {
    top: 80%;
    left: 4%;
    transform: translate(0%, -20%);
  }

  .position6 {
    top: 32%;
    left: 14%;
    transform: translate(-50%, 0%);
  }
  .bottomWave {
    left: 0%;
    top: 60%;
    width: 100%;
  }
  .topWave {
    left: -6%;
    top: -8%;
  }
}
@media only screen and (min-width: 889px) and (max-width: 1000px) {
  /* Position each team member around the circle */
  .position1 {
    top: 12%;
    left: 50%;
    transform: translateX(-100%);
  }
  .teamMember img {
    width: 50%;
    height: 50%;
  }

  .position2 {
    top: 0%;
    left: 75%;
    transform: translate(-105%, -50%);
    position: relative;
  }

  .position3 {
    top: 32%;
    left: 50%;
    transform: translate(-100%, -50%);
    position: relative;
  }

  .position4 {
    top: 100%;
    left: 40%;
    transform: translate(0%, -90%);
  }

  .position5 {
    top: 80%;
    left: 4%;
    transform: translate(0%, -20%);
  }

  .position6 {
    top: 32%;
    left: 14%;
    transform: translate(-50%, 0%);
  }
  .bottomWave {
    left: 0%;
    top: 64%;
    width: 100%;
  }
  .topWave {
    left: -6%;
    top: -8%;
    width: 60%;
  }
}

@media only screen and (min-width: 791px) and (max-width: 888px) {
  .headingPrimary {
    font-size: 1.4rem;
  }
  /* Position each team member around the circle */
  .position1 {
    top: 16%;
    left: 65%;
    transform: translateX(-100%);
  }
  .teamMember img {
    width: 50%;
    height: 50%;
  }

  .position2 {
    top: 0%;
    left: 75%;
    transform: translate(-105%, -50%);
    position: relative;
  }

  .position3 {
    top: 32%;
    left: 50%;
    transform: translate(-100%, -50%);
    position: relative;
  }

  .position4 {
    top: 100%;
    left: 40%;
    transform: translate(0%, -90%);
  }

  .position5 {
    top: 80%;
    left: 4%;
    transform: translate(0%, -20%);
  }

  .position6 {
    top: 32%;
    left: 18%;
    transform: translate(-50%, 0%);
  }
  .bottomWave {
    left: 0%;
    top: 64%;
    width: 100%;
  }
  .topWave {
    left: -4%;
    top: -8%;
    width: 70%;
  }
}

@media only screen and (min-width: 754px) and (max-width: 790px) {
  .teamMember img {
    width: 75%;
    height: 75%;
  }
  .headingPrimary {
    font-size: 1.4rem;
  }
  /* Position each team member around the circle */
  .position1 {
    top: 16%;
    left: 65%;
    transform: translateX(-100%);
  }
  .teamMember img {
    width: 50%;
    height: 50%;
  }

  .position2 {
    top: 0%;
    left: 75%;
    transform: translate(-105%, -50%);
    position: relative;
  }

  .position3 {
    top: 32%;
    left: 50%;
    transform: translate(-100%, -50%);
    position: relative;
  }

  .position4 {
    top: 100%;
    left: 40%;
    transform: translate(0%, -90%);
  }

  .position5 {
    top: 80%;
    left: 4%;
    transform: translate(0%, -20%);
  }

  .position6 {
    top: 32%;
    left: 18%;
    transform: translate(-50%, 0%);
  }
  .bottomWave {
    left: 0%;
    top: 64%;
    width: 100%;
  }
  .topWave {
    left: -4%;
    top: -8%;
    width: 70%;
  }
}

@media only screen and (min-width: 676px) and (max-width: 753px) {
  .teamMember img {
    width: 75%;
    height: 75%;
  }
  .headingPrimary {
    font-size: 1.4rem;
  }
  .position1 {
    top: 16%;
    left: 65%;
    transform: translateX(-100%);
  }
  .teamMember img {
    width: 50%;
    height: 50%;
  }

  .position2 {
    top: 0%;
    left: 85%;
    transform: translate(-105%, -50%);
    position: relative;
  }

  .position3 {
    top: 32%;
    left: 50%;
    transform: translate(-100%, -50%);
    position: relative;
  }

  .position4 {
    top: 100%;
    left: 40%;
    transform: translate(0%, -90%);
  }

  .position5 {
    top: 80%;
    left: 4%;
    transform: translate(0%, -20%);
  }

  .position6 {
    top: 32%;
    left: 18%;
    transform: translate(-50%, 0%);
  }
  .bottomWave {
    left: 0%;
    top: 64%;
    width: 100%;
  }
  .topWave {
    left: -4%;
    top: -8%;
    width: 80%;
  }
}
@media only screen and (min-width: 622px) and (max-width: 675px) {
  .teamMember img {
    width: 75%;
    height: 75%;
  }
  .headingPrimary {
    font-size: 1.4rem;
  }
  .teamMember img {
    width: 65%;
    height: 65%;
  }
  /* Position each team member around the circle */
  .position1 {
    top: 20%;
    left: 65%;
    transform: translateX(-100%);
  }
  .teamMember img {
    width: 50%;
    height: 50%;
  }

  .position2 {
    top: 0%;
    left: 95%;
    transform: translate(-105%, -50%);
    position: relative;
  }

  .position3 {
    top: 32%;
    left: 60%;
    transform: translate(-100%, -50%);
    position: relative;
  }
  .position4 {
    top: 100%;
    left: 40%;
    transform: translate(0%, -90%);
  }

  .position5 {
    top: 80%;
    left: 4%;
    transform: translate(0%, -20%);
  }

  .position6 {
    top: 32%;
    left: 18%;
    transform: translate(-50%, 0%);
  }
  .bottomWave {
    left: 0%;
    top: 78%;
    width: 100%;
  }
  .topWave {
    left: -4%;
    top: -8%;
    width: 80%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 621px) {
  .teamMember img {
    width: 75%;
    height: 75%;
  }
  .headingPrimary {
    font-size: 1rem;
  }
  .teamMember img {
    width: 55%;
    height: 55%;
  }
  /* Position each team member around the circle */
  .position1 {
    top: 15%;
    left: 65%;
    transform: translateX(-100%);
  }
  .teamMember img {
    width: 50%;
    height: 50%;
  }

  .position2 {
    top: 0%;
    left: 95%;
    transform: translate(-105%, -50%);
    position: relative;
  }

  .position3 {
    top: 32%;
    left: 60%;
    transform: translate(-100%, -50%);
    position: relative;
  }

  .position4 {
    top: 90%;
    left: 40%;
    transform: translate(0%, -90%);
  }

  .position5 {
    top: 80%;
    left: 4%;
    transform: translate(0%, -20%);
  }

  .position6 {
    top: 34%;
    left: 18%;
    transform: translate(-50%, 0%);
  }
  .bottomWave {
    left: 0%;
    top: 78%;
    width: 100%;
  }
  .topWave {
    left: -4%;
    top: -8%;
    width: 80%;
  }
}

@media only screen and (min-width: 521px) and (max-width: 600px) {
  .teamMember img {
    width: 75%;
    height: 75%;
  }
  .headingPrimary {
    font-size: 1rem;
  }
  /* Position each team member around the circle */
  .position1 {
    top: 17%;
    left: 65%;
    transform: translateX(-100%);
  }
  .teamMember img {
    width: 50%;
    height: 50%;
  }

  .position2 {
    top: 0%;
    left: 95%;
    transform: translate(-105%, -50%);
    position: relative;
  }

  .position3 {
    top: 32%;
    left: 60%;
    transform: translate(-100%, -50%);
    position: relative;
  }

  .position4 {
    top: 90%;
    left: 40%;
    transform: translate(0%, -90%);
  }

  .position5 {
    top: 80%;
    left: 4%;
    transform: translate(0%, -20%);
  }

  .position6 {
    top: 34%;
    left: 18%;
    transform: translate(-50%, 0%);
  }
  .bottomWave {
    left: 0%;
    top: 72%;
    width: 100%;
  }
  .topWave {
    left: -4%;
    top: -8%;
    width: 90%;
  }
}
@media only screen and (min-width: 421px) and (max-width: 520px) {
  .teamMember img {
    width: 75%;
    height: 75%;
  }
  .headingPrimary {
    font-size: 1rem;
  }
  /* Position each team member around the circle */
  .position1 {
    top: 17%;
    left: 65%;
    transform: translateX(-100%);
  }
  .teamMember img {
    width: 45%;
    height: 45%;
  }

  .position2 {
    top: 30%;
    left: 100%;
    transform: translate(-105%, -50%);
    position: relative;
  }

  .position3 {
    top: 0%;
    left: 60%;
    transform: translate(-100%, -50%);
    position: relative;
  }

  .position4 {
    top: 90%;
    left: 40%;
    transform: translate(0%, -90%);
  }

  .position5 {
    top: 80%;
    left: 4%;
    transform: translate(0%, -20%);
  }

  .position6 {
    top: 34%;
    left: 18%;
    transform: translate(-50%, 0%);
  }
  .bottomWave {
    left: 0%;
    top: 72%;
    width: 100%;
  }
  .topWave {
    left: -4%;
    top: -2%;
    width: 90%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 420px) {
  .teamMember img {
    width: 75%;
    height: 75%;
  }
  .headingPrimary {
    font-size: 1rem;
  }
  /* Position each team member around the circle */
  .position1 {
    top: 12%;
    left: 65%;
    transform: translateX(-100%);
  }
  .teamMember img {
    width: 45%;
    height: 45%;
  }

  .position2 {
    top: 36%;
    left: 83%;
    transform: translate(-105%, -50%);
  }

  .position3 {
    top: 73%;
    left: 93%;
    transform: translate(-100%, -50%);
  }

  .position4 {
    top: 90%;
    left: 40%;
    transform: translate(0%, -90%);
  }

  .position5 {
    top: 80%;
    left: 4%;
    transform: translate(0%, -20%);
  }

  .position6 {
    top: 34%;
    left: 18%;
    transform: translate(-50%, 0%);
  }
  .bottomWave {
    left: 0%;
    top: 72%;
    width: 100%;
  }
  .topWave {
    left: -4%;
    top: -2%;
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .teamMember img {
    width: 75%;
    height: 75%;
  }
  .headingPrimary {
    font-size: 1rem;
  }
  .teamMember img {
    width: 45%;
    height: 45%;
  }
  /* Position each team member around the circle */
  .position1 {
    top: 10%;
    left: 65%;
    transform: translateX(-100%);
  }
  .teamMember img {
    width: 45%;
    height: 45%;
  }

  .position2 {
    top: 31%;
    left: 83%;
    transform: translate(-105%, -50%);
  }

  .position3 {
    top: 73%;
    left: 93%;
    transform: translate(-100%, -50%);
  }

  .position4 {
    top: 90%;
    left: 40%;
    transform: translate(0%, -90%);
  }

  .position5 {
    top: 64%;
    left: 0%;
    transform: translate(0%, -20%);
  }

  .position6 {
    top: 25%;
    left: 18%;
    transform: translate(-50%, 0%);
  }
  .bottomWave {
    left: 0%;
    top: 80%;
    width: 100%;
  }
  .topWave {
    left: -4%;
    top: -8%;
    width: 90%;
  }
}
