.container {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport */
  padding: 20px; /* Add some padding if needed */
  text-align: center; /* Center the text */
}
.container p {
  margin: 2px;
}
.heading {
  font-size: 8rem; /* Adjust based on your design */
  font-weight: bold; /* Makes the heading bold */
  line-height: 0.8;
}

.smallText {
  font-size: 5rem; /* Make the text smaller */
  font-weight: normal; /* Adjust the weight if needed */
  font-style: italic;
  font-family: Georgia;
}

.description {
  font-size: 1.2rem; /* Adjust based on your design */
  margin-top: 10px; /* Space between heading and description */
  justify-content: center;
  display: flex;
}
.description p {
  width: 70%;
}

.headingw {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headingw p {
  font-family: "Georgia", serif;
  font-size: 1.8rem;
}
@font-face {
  font-family: "areanormalblod";
  src: url("../../assets/areanormalbold.otf");
}
@font-face {
  font-family: "areanormalblack";
  src: url("../../assets/areanormalblack.otf");
}
.headingw span {
  font-family: areanormalblack;
  font-size: 8.2rem;
  font-weight: 800;
}

.heading p1 {
  font-family: areanormalblack;
  font-size: 8.2rem;
  font-weight: 800;
}
.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.description p {
  font-size: 0.8rem;
  font-weight: 400;
}
.heading {
  font-size: 3rem; /* Adjust based on your design */
  font-weight: bold; /* Makes the heading bold */
}
.smallText {
  font-size: 3rem;
}
@media only screen and (min-width: 600px) and (max-width: 920px) {
  .container {
    height: auto;
  }
  .heading {
    font-size: 6rem; /* Adjust based on your design */
    font-weight: bold; /* Makes the heading bold */
  }
  .smallText {
    font-size: 3.2rem;
  }
  .headingPrimary {
    font-size: 2rem;
  }
  .headingw span {
    font-family: areanormalblack;
    font-size: 5.2rem;
    font-weight: 800;
  }

  .heading p1 {
    font-family: areanormalblack;
    font-size: 5.2rem;
    font-weight: 800;
  }
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 3rem; /* Adjust based on your design */
    font-weight: bold; /* Makes the heading bold */
  }
  .smallText {
    font-size: 3rem;
  }
  .container {
    height: auto;
  }
  .headingw span {
    font-family: areanormalblack;
    font-size: 3.2rem;
    font-weight: 800;
  }

  .heading p1 {
    font-family: areanormalblack;
    font-size: 3.2rem;
    font-weight: 800;
  }
}
